

/* Define un ancho fijo para el sidebar */
.sidebar {
    width: 250px; /* Puedes ajustar este valor según tus necesidades */
    background-color: #f4f4f4; /* Color de fondo opcional */
  }
  
  /* Asegura que el contenedor principal ocupe el espacio restante */
  .flex-grow-1 {
    flex-grow: 1;
  }
  